.date_holder {
    float: left;
    background: linear-gradient(to right, #da8cff, #9a55ff);
    color: #fff;
    padding: 4px 12px 12px;
    margin-right: 6px;
    position: relative;
    text-align: center;
}

.date_holder:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 1px;
    height: 1px;
    border: 24px solid transparent;
    border-bottom: 8px solid #fff;
    z-index: 0;
}

.date_holder .day {
    display: block;
    font-size: 20px;
    margin-bottom: 2px;
    font-weight: 700;
}

body {
    background: #f2edf3;
}

.date_holder .month {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 32px;
    line-height: 42px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-google {
    background: #fe7c96;
}

.btn-google:hover {
    background: #fe7c96;
}

.btn-facebook {
    background: linear-gradient(to right, #da8cff, #9a55ff);
}

.btn-facebook:hover {
    background: linear-gradient(to right, #da8cff, #9a55ff);
}

.card .card-title {
    text-transform: initial!important;
}

@media screen and (max-width: 480px){
    .text-p{
        display: none;
    }

    h1, .h1 {
        font-size: 1.19rem;
    }
}