<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Fiainana BDB!{% endblock %}</title>
    <meta name="keyword" content="Fiainanabdb, Fiainana , bdb , teny , mana , baiboly, hafatra">
    <link rel="shortcut icon" href="{{ asset('upload/media/ic_launcher.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block menu %}{% include 'front/_menu.html.twig' %}{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
