<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-6 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>FIAINANA BE DIA BE</span>
                    </a>
                    <p>Tena fifaliako amin’ny maha Rainao Ahy ny mijery anao mianoka ao anaty fifaliana sy fiadanana.
                        Ezahan’ny fahavalo rombahana eny aminao io fiainana be dia be omeko anao io. Tena faniriako ny
                        hananantsika fifamatoram-piainana mitombo isanandro anaka, rehefa mitoetra eo amin’ny
                        fanatrehako ianao, rehefa ankamamianao ny teniko, rehefa zary fiainanao ny fankatoavana Ahy dia
                        ho tafatoetra ny fonao, hianoka fifaliana sy fiadanana ianao ary tsy hisy haharombaka anao
                        amin’ny tanako anaka. Tsarovy fa fitiavana mandrakizay no nitiavako anao, lafo vidy ianao eo
                        anatrehako, sarobidy Amiko ny fisianao, tena tiako ianao anaka. Raiso, henoy, vakio, hiaino ny
                        hafatra arosoko ho anao isanandro..</p>
                    <div class="social-links d-flex  mt-3">
                        <a href="https://web.facebook.com/fiainanabdb" target="_blank" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 align-items-end footer-contact text-center text-md-start"></div>
                <div class="col-lg-3 col-md-12 align-items-end footer-contact text-center text-md-start">
                    <h4>Contactez-nous</h4>
                    <p>Bookafe Ampasapito<br>
                        Antananarivo 101<br>
                        Madagascar <br><br>
                        <strong>Phone:</strong> +261 32 05 231 15<br>
                        <strong>Email:</strong> contact@fiainanabediabe.org<br>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-legal">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Fiainana be dia be <script>document.write((new Date()).getFullYear())</script></span></strong>.
                All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://fiainanabediabe.org/">fiainanabediabe.org</a>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
