<section id="hero" style="background-image: url('{{ asset('build/images/hero-bg.74ec0068.jpg') }}')" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <h2 data-aos="fade-up">Teny manokana ho anao isan’andro</h2>
                <blockquote data-aos="fade-up" data-aos-delay="100">
                    <p>Mizara hafatra hoanao isan'andro , tosika fampaherezana notsongaina avy ao amin'ny baiboly</p>
                </blockquote>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#about" class="btn-get-started">s'inscrire</a>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->
